.text {text-align: center; margin-bottom:10px; text font-style: bold;}
.green{background-color: #22B573; width: 1288px; height: 710px; margin: 25px; margin-bottom:25px; margin-top: 4px  }
.d-block {display: inline-block;}
.navigation-ul {margin-left: 235px; margin-top: 25px; 
}
.navigation-li{font-size: 48px; padding: 5px; color: white;  

 }
.yvitelilogo{padding-top: 30px;vertical-align: top; }
.yviteliboxi{height: 418px;background-color: yellow; width: 515px;margin-left: 50px; margin-bottom: 30px; margin-top: 25px}

.text1{width: 350px; vertical-align: top; font-family: 'Margarine-Regular';
  }
.text3{ width: 350px;vertical-align: top; font-family: "BPG Phone Sans Bold", sans-serif;
;
 ;

 }
.text4{margin-top: 2px; font-family: "BPG Irubaqidze", sans-serif;
}
.text2{  font-family: 'Ultra-Regular';
}